<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list inset">
      <div class="item item-divider">New Assignment</div>
      <!-- <label class="item item-input">
        <span class="input-label">Course</span>
        <input type="text">
      </label> -->
      <label class="item item-input item-select">
        <div class="input-label">
          Course
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>
      

<!--       <div class="item">
  <div class="row">
      <div class="col">Course</div>
      <div class="col">.col</div>
  </div>
</div>
<div class="item">
  <div class="row item-input">
      <div class="col">Given Date</div>
      <div class="col"><input type="date"></div>
  </div>
</div>
<div class="item">
  <div class="row">
      <div class="col">Submission Date</div>
      <div class="col"><input type="date"></div>
  </div>
</div>
<div class="item">
  <div class="row">
      <div class="col">Given Time</div>
      <div class="col"></div>
  </div>
</div>
<div class="item">
  <div class="row">
      <div class="col">Submission Time</div>
      <div class="col">.col</div>
  </div>
</div> -->
    </div>
<!--     <div class="list card">
  <div class="item item-divider">Health</div>
  <div class="item item-body">
    <div>
      You ate an apple today!
    </div>
  </div>
</div>
<div class="list card">
  <div class="item item-divider">Upcoming</div>
  <div class="item item-body">
    <div>
      You have <b>29</b> meetings on your calendar tomorrow.
    </div>
  </div>
</div> -->
  </ion-content>
</ion-view>
